<div
  class="min-h-[380px] bg-[url('assets/contact-bg.png')] bg-cover bg-center hero-bg overflow-hidden flex w-full relative"
>
  <div class="relative z-[1] min-h-[380px] flex flex-col h-full flex-1">
    <app-navbar></app-navbar>
    <div
      class="px-[28px] lg:px-0 lg:w-content mx-auto flex flex-col items-center justify-center flex-1 gap-4"
    >
      <div class="text-[64px] font-nunito font-bold text-white">Contact Us</div>
      <div class="mt-2 flex items-center">
        <div class="text-[16px] text-white uppercase">
          Home / <span class="text-primary">Contact</span>
        </div>
      </div>
    </div>
  </div>
</div>
