<div
  class="min-h-screen bg-[url('assets/hero-bg.png')] bg-cover bg-center hero-bg overflow-hidden flex w-full relative"
>
  <div class="relative z-[1] min-h-screen flex flex-col h-full flex-1">
    <app-navbar></app-navbar>
    <div class="px-[28px] lg:px-0 lg:w-content mx-auto flex flex-col lg:flex-row items-center justify-between flex-1 gap-4">
      <div class="text-left text-white">
        <h1 class="text-[62px] font-bold mb-4">Enjoy Our<br />Delicious Meal</h1>
        <p class="text-[16px] mb-8 ">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam
            amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita
            duo justo magna dolore erat amet
        </p>
        <button
          class="bg-primary text-white px-8 py-3 font-semibold"
        >
          Book A Table
        </button>
      </div>
      <img src="assets/hero-img.png" alt="Hero Image" class="w-full lg:max-w-[500px] h-auto rotate-image">
    </div>
  </div>
</div>
