<div class="w-content mx-auto">
  <nav class="flex items-center justify-between p-2">
    <div class="flex items-center justify-center gap-x-2">
      <img src="assets/logo-icon.png" />
      <div class="text-primary text-2xl font-mochiy">FoodFront</div>
    </div>
    <div class="flex items-center gap-x-4">
      <a
        class="text-white uppercase"
        routerLink="/"
        routerLinkActive="!text-primary"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        class="text-white uppercase"
        routerLink="/contact"
        routerLinkActive="!text-primary"
        >Contact</a
      >
      <button class="text-white bg-primary p-4 font-bold" routerLink="/book">
        Book A Table
      </button>
    </div>
  </nav>
</div>
