<div class="py-[96px] bg-[#eee]">
  <div class="lg:w-content px-[28px] mx-auto lg:px-[0px]">
    <div class="flex flex-col gap-6 items-center">
      <div>
        <div
          class="font-pacifico text-primary text-[20px] flex justify-center items-center gap-2"
        >
          <div class="bg-primary h-[2px] w-[50px]"></div>
          Team Members
          <div class="bg-primary h-[2px] w-[50px]"></div>
        </div>
        <div class="text-[40px] font-bold">Our Master Chefs</div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 w-full">
        @for (member of members; track member.id){
        <app-team-member-card
          [name]="member.name"
          [image]="member.image"
          [designation]="member.designation"
          [fbLink]="member.fbLink"
          [instaLink]="member.instaLink"
          [twitterLink]="member.twitterLink"
        />
        }
      </div>
    </div>
  </div>
</div>
